input {
    border-radius: 0 !important;
}

form>h5 {
    margin: 8px 0;
}

:host ::ng-deep .p-dialog-content {
    overflow: hidden;
}

.p-inputtext.ng-dirty.ng-valid {
    border-color: green;
}

:host ::ng-deep .p-dropdown-label {
    display: flex;
    align-items: center;
}

:host ::ng-deep .p-inputnumber-input {
    width: 80px;
    border-radius: 0;
}

.header {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.body {
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .table-layout {
    width: 100%;
    height: 17rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .table-layout table {
    position: absolute;
    height: 100%;
    display: inline-block;
    overflow: auto;
}


.body table th {
    padding: 1rem;
    text-align: center;
}

.body table td {
    padding: 0.8rem;
}

.body tr, td, th {
    border: 1px solid rgb(162, 162, 162);
}

:host ::ng-deep .p-inputnumber-input {
    width: 60px;
}

input[type=file]::file-selector-button {
    border: 1px solid #ced4da;
    background-color: white;
    cursor: pointer;
}

.p-form-layout {
    display: flex;
}

.wrapper {}

.multi-languages-layout {
    display: flex;
    align-items: center;
    width: auto;
    position: absolute;
    height: 100%;
    right: 5%;
}

.multi-languages {
    background-color: transparent;
    padding: 0;
}

.pi-flag-fill {
    opacity: 0.5;
}

.pi-flag-fill:hover {
    opacity: 1;
}

.dropdown-multi-languages {
    position: absolute;
    top: 0;
    right: -50%;
    transform: translate(25%, 25%);
    z-index: 9999;
    background-color: white;
    box-shadow: 0 0.3em 0.6em rgb(0 0 0 / 15%);
    border-radius: 5px;
}

.dropdown-multi-languages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.dropdown-multi-languages ul li {
    display: flex;
    padding: 8px;
}

.dropdown-multi-languages ul img {
    width: 30px;
    height: 30px;
}

.dropdown-multi-languages input {
    border: 1px solid #ced4da;
    padding: 5px;
}

.wleft {
    padding-left: 0 !important;
}

.wright {
    padding-right: 0 !important;
}

:host ::ng-deep.fixedDd .p-dropdown-items-wrapper {
    height: 130px !important;
}