<dynamic-crud [data$]="data$" [col]="col" [items]="items" (modalShow)="modalDisplay=$event"
    (dpEdit)="dpEditEvent($event)" (dpRemove)="dpRemoveEvent($event)" [disabled]="disabled"></dynamic-crud>

<pmodal-crud [modalDisplay]="modalDisplay" modalHeaderName="ຂໍ້ມູນຈຳນວນສຕ໊ອກ" (modalHide)="onHide($event)"
    [modalDefault]="true" [imagePath]="imagePath" clText="ຂໍ້ມູນຈຳນວນສຕ໊ອກ">
    <ng-template #body>
        <div style="height: 75vh; position: relative; display: flex; align-items: center;">
            <form [formGroup]="form" style="width: 100%;" #fb (submit)="create()" (keyup.enter)="create()">
                <div class="form-group row" style="margin: 1em 0 2em 0 !important; justify-content: center;">
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                        style="font-weight: bold;">ລາຄາ</label>
                    <div class="col-sm-3">
                        <div class="p-inputgroup" style="position: relative; height: 100%;">
                            <input type="number" pInputText placeholder="ລາຄາ" 
                            [ngStyle]="{'padding-right': 'calc(0.5em + 0.5em)'}" formControlName="price" />
                            <state-input [form]="form" [control]="price" [boxControl]="true">
                            </state-input>
                        </div>
                        <div *ngIf="price.dirty && price.invalid && (price.touched || price.untouched)"
                            style="color: #f44336; position: absolute; margin-top: 3px;">
                            <state-input [form]="form" [control]="price" errControl="required"
                            errMessage="ບໍ່ໃຫ້ວ່າງ">
                        </state-input>
                            <state-input [form]="form" [control]="price" errControl="min"
                                errMessage="ປ້ອນຈຳນວນ 1 ຂຶ້ນໄປ"></state-input>
                        </div>
                    </div>
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                    style="font-weight: bold;">ຈຳນວນ</label>
                <div class="col-sm-3">
                    <div class="p-inputgroup" style="position: relative; height: 100%;">
                        <input type="number" pInputText placeholder="ຈຳນວນ" 
                        [ngStyle]="{'padding-right': 'calc(0.5em + 0.5em)'}" formControlName="amount" />
                        <state-input [form]="form" [control]="amount" [boxControl]="true">
                        </state-input>
                    </div>
                    <div *ngIf="amount.dirty && amount.invalid && (amount.touched || amount.untouched)"
                        style="color: #f44336; position: absolute; margin-top: 3px;">
                        <state-input [form]="form" [control]="amount" errControl="required"
                        errMessage="ບໍ່ໃຫ້ວ່າງ">
                    </state-input>
                        <state-input [form]="form" [control]="amount" errControl="min"
                            errMessage="ປ້ອນຈຳນວນ 1 ຂຶ້ນໄປ"></state-input>
                    </div>
                </div>
                </div>
                <div class="form-group row" style="justify-content: center;">
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                        style="font-weight: bold;">ຊື່ສິນຄ້າ</label>
                    <div class="col-sm-3">
                        <div class="p-inputgroup" style="position: relative; height: 100%;">
                            <p-dropdown [options]="productOptions" optionLabel="name" optionValue="code"
                                [style]="{'width': '100%', 'marginLeft': 0, 'height': '100%', 'borderRadius':0}"
                                formControlName="product" placeholder="ເລືອກສີນຄ້າ" scrollHeight="200px" [filter]="true" filterBy="name">
                            </p-dropdown>
                        </div>
                        <div *ngIf="product.dirty && product.invalid && (product.touched || product.untouched)"
                            style="color: #f44336; position: absolute; margin-top: 3px;">
                            <state-input [form]="form" [control]="product" errControl="required"
                                errMessage="ບໍ່ໃຫ້ວ່າງ">
                            </state-input>
                        </div>
                    </div>
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                        style="font-weight: bold;">ຫົວໜ່ວຍ</label>
                    <div class="col-sm-3">
                        <div class="p-inputgroup" style="position: relative; height: 100%;" #inp>
                            <!--  <input type="text" pInputText placeholder="ຕຳແໜ່ງວາງ"
                                [ngStyle]="{'padding-right': 'calc(0.5em + 0.5em)'}" formControlName="placement" />
                            <state-input [form]="form" [control]="placement" [boxControl]="true"></state-input> -->
                            <p-dropdown [options]="stockUnitOptions" optionLabel="name" optionValue="code"
                                [style]="{'width': '100%', 'marginLeft': 0, 'height': '100%', 'borderRadius':0}"
                                formControlName="stockUnit" placeholder="ເລືອກຫົວຫນ່ວຍ" scrollHeight="200px" [filter]="true" filterBy="name">
                            </p-dropdown>
                        </div>
                        <div *ngIf="stockUnit.dirty && stockUnit.invalid && (stockUnit.touched || stockUnit.untouched)"
                            style="color: #f44336; position: absolute; margin-top: 3px;">
                            <state-input [form]="form" [control]="stockUnit" errControl="required"
                                errMessage="ບໍ່ໃຫ້ວ່າງ"></state-input>
                        </div>
                    </div>
                </div>

                <div style="width: 100%; position: absolute; bottom: 0; display: flex; justify-content: center;">

                    <button pButton pRipple type="button" label="ຢືນຢັນ" class="p-button-info" style="width: 8em;"
                        type="submit"></button>
                </div>
            </form>

        </div>
    </ng-template>
</pmodal-crud>


<pmodal-crud [modalEditDisplay]="modalEditDisplay" modalHeaderName="ຂໍ້ມູນຈຳນວນສຕ໊ອກ" (modalHide)="onHide($event)"
    [modalDefault]="false" [imagePath]="imagePath" clText="ຂໍ້ມູນຈຳນວນສຕ໊ອກ">
    <ng-template #body>
        <div style="height: 75vh; position: relative; display: flex; align-items: center;">
            <form [formGroup]="form" style="width: 100%;" #fb (submit)="update()" (keyup.enter)="update()">
                <div class="form-group row" style="margin: 1em 0 2em 0 !important; justify-content: center;">
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                        style="font-weight: bold;">ລາຄາ</label>
                    <div class="col-sm-3">
                        <div class="p-inputgroup" style="position: relative; height: 100%;">
                            <input type="number" pInputText placeholder="ລາຄາ" 
                            [ngStyle]="{'padding-right': 'calc(0.5em + 0.5em)'}" formControlName="price" />
                            <state-input [form]="form" [control]="price" [boxControl]="true">
                            </state-input>
                        </div>
                        <div *ngIf="price.dirty && price.invalid && (price.touched || price.untouched)"
                            style="color: #f44336; position: absolute; margin-top: 3px;">
                            <state-input [form]="form" [control]="price" errControl="required"
                            errMessage="ບໍ່ໃຫ້ວ່າງ">
                        </state-input>
                            <state-input [form]="form" [control]="price" errControl="min"
                                errMessage="ປ້ອນຈຳນວນ 1 ຂຶ້ນໄປ"></state-input>
                        </div>
                    </div>
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                    style="font-weight: bold;">ຈຳນວນ</label>
                <div class="col-sm-3">
                    <div class="p-inputgroup" style="position: relative; height: 100%;">
                        <input type="number" pInputText placeholder="ຈຳນວນ" 
                        [ngStyle]="{'padding-right': 'calc(0.5em + 0.5em)'}" formControlName="amount" />
                        <state-input [form]="form" [control]="amount" [boxControl]="true">
                        </state-input>
                    </div>
                    <div *ngIf="amount.dirty && amount.invalid && (amount.touched || amount.untouched)"
                        style="color: #f44336; position: absolute; margin-top: 3px;">
                        <state-input [form]="form" [control]="amount" errControl="required"
                        errMessage="ບໍ່ໃຫ້ວ່າງ">
                    </state-input>
                        <state-input [form]="form" [control]="amount" errControl="min"
                            errMessage="ປ້ອນຈຳນວນ 1 ຂຶ້ນໄປ"></state-input>
                    </div>
                </div>
                </div>
                <div class="form-group row" style="justify-content: center;">
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                        style="font-weight: bold;">ຊື່ສິນຄ້າ</label>
                    <div class="col-sm-3">
                        <div class="p-inputgroup" style="position: relative; height: 100%;">
                            <p-dropdown [options]="productOptions" optionLabel="name" optionValue="code"
                                [style]="{'width': '100%', 'marginLeft': 0, 'height': '100%', 'borderRadius':0}"
                                formControlName="product" placeholder="ເລືອກສີນຄ້າ" scrollHeight="200px" [filter]="true" filterBy="name">
                            </p-dropdown>
                        </div>
                        <div *ngIf="product.dirty && product.invalid && (product.touched || product.untouched)"
                            style="color: #f44336; position: absolute; margin-top: 3px;">
                            <state-input [form]="form" [control]="product" errControl="required"
                                errMessage="ບໍ່ໃຫ້ວ່າງ">
                            </state-input>
                        </div>
                    </div>
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                        style="font-weight: bold;">ຫົວໜ່ວຍ</label>
                    <div class="col-sm-3">
                        <div class="p-inputgroup" style="position: relative; height: 100%;" #inp>
                            <!--  <input type="text" pInputText placeholder="ຕຳແໜ່ງວາງ"
                                [ngStyle]="{'padding-right': 'calc(0.5em + 0.5em)'}" formControlName="placement" />
                            <state-input [form]="form" [control]="placement" [boxControl]="true"></state-input> -->
                            <p-dropdown [options]="stockUnitOptions" optionLabel="name" optionValue="code"
                                [style]="{'width': '100%', 'marginLeft': 0, 'height': '100%', 'borderRadius':0}"
                                formControlName="stockUnit" placeholder="ເລືອກຫົວຫນ່ວຍ" scrollHeight="200px" [filter]="true" filterBy="name">
                            </p-dropdown>
                        </div>
                        <div *ngIf="stockUnit.dirty && stockUnit.invalid && (stockUnit.touched || stockUnit.untouched)"
                            style="color: #f44336; position: absolute; margin-top: 3px;">
                            <state-input [form]="form" [control]="stockUnit" errControl="required"
                                errMessage="ບໍ່ໃຫ້ວ່າງ"></state-input>
                        </div>
                    </div>
                </div>

                <div style="width: 100%; position: absolute; bottom: 0; display: flex; justify-content: center;">

                    <button pButton pRipple type="button" label="ຢືນຢັນ" class="p-button-info" style="width: 8em;"
                        type="submit"></button>
                </div>
            </form>

        </div>
    </ng-template>
</pmodal-crud>

<p-confirmDialog header="ຍືນຍັນ" icon="pi pi-exclamation-triangle" #cd>
    <ng-template pTemplate="footer">
        <button type="button" pButton label="Yes" (click)="cd.accept()"></button>
        <button type="button" pButton label="No" (click)="cd.reject()"></button>
    </ng-template>
</p-confirmDialog>
