<dynamic-crud [data$]="data$" [col]="col" [items]="items" (modalShow)="modalDisplay=$event"
    (dpEdit)="dpEditEvent($event)" (dpRemove)="dpRemoveEvent($event)" [disabled]="disabled"></dynamic-crud>

<pmodal-crud [modalDisplay]="modalDisplay" modalHeaderName="ຂໍ້ມູນສະຕ໊ອກຫົວໜ່ວຍສິນຄ້າ" (modalHide)="onHide($event)"
    [modalDefault]="true" [imagePath]="imagePath" clText="ຂໍ້ມູນສະຕ໊ອກຫົວໜ່ວຍສິນຄ້າ">
    <ng-template #body>
        <div style="height: 75vh; position: relative; display: flex; align-items: center;">
            <form [formGroup]="form" style="width: 100%;" #fb (submit)="create()" (keyup.enter)="create()">
                <div class="form-group row" style="justify-content: center;">
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                        style="font-weight: bold;">ຊື່</label>
                    <div class="col-sm-3">
                        <div class="p-inputgroup" style="position: relative; height: 100%;">
                            <input type="text" pInputText placeholder="ຊື່"
                                [ngStyle]="{'padding-right': 'calc(0.5em + 0.5em)'}" formControlName="name" />
                            <state-input [form]="form" [control]="name" [boxControl]="true"></state-input>
                        </div>
                        <div *ngIf="name.dirty && name.invalid && (name.touched || name.untouched)"
                            style="color: #f44336; position: absolute; margin-top: 3px;">
                            <state-input [form]="form" [control]="name" errControl="required" errMessage="ບໍ່ໃຫ້ວ່າງ">
                            </state-input>
                            <state-input [form]="form" [control]="name" errControl="stringFailed"
                                errMessage="ປ້ອນເປັນຕົວອັກສອນ"></state-input>
                        </div>
                    </div>
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                        style="font-weight: bold;">netContent</label>
                    <div class="col-sm-3">
                        <div class="p-inputgroup" style="position: relative; height: 100%;">
                            <input type="text" pInputText placeholder="netContent"
                                [ngStyle]="{'padding-right': 'calc(0.5em + 0.5em)'}" formControlName="netContent" />
                            <state-input [form]="form" [control]="netContent" [boxControl]="true"></state-input>
                        </div>
                        <div *ngIf="netContent.dirty && netContent.invalid && (netContent.touched || netContent.untouched)"
                            style="color: #f44336; position: absolute; margin-top: 3px;">
                            <state-input [form]="form" [control]="netContent" errControl="numberFailed"
                                errMessage="ປ້ອນເປັນຕົວເລກ"></state-input>
                        </div>

                    </div>
                    <div style="width: 100%; position: absolute; bottom: 0; display: flex; justify-content: center;">

                        <button pButton pRipple type="button" label="ຢືນຢັນ" class="p-button-info" style="width: 8em;"
                            type="submit"></button>
                    </div>
                </div>
            </form>

        </div>
    </ng-template>
</pmodal-crud>


<pmodal-crud [modalEditDisplay]="modalEditDisplay" modalHeaderName="ຂໍ້ມູນສະຕ໊ອກຫົວໜ່ວຍສິນຄ້າ"
    (modalHide)="onHide($event)" [modalDefault]="false" [imagePath]="imagePath" clText="ຂໍ້ມູນສະຕ໊ອກຫົວໜ່ວຍສິນຄ້າ">
    <ng-template #body>
        <div style="height: 75vh; position: relative; display: flex; align-items: center;">
            <form [formGroup]="form" style="width: 100%;" #fb (submit)="update()" (keyup.enter)="update()">
                <div class="form-group row" style="justify-content: center;">
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                        style="font-weight: bold;">ຊື່</label>
                    <div class="col-sm-3">
                        <div class="p-inputgroup" style="position: relative; height: 100%;">
                            <input type="text" pInputText placeholder="ຊື່"
                                [ngStyle]="{'padding-right': 'calc(0.5em + 0.5em)'}" formControlName="name" />
                            <state-input [form]="form" [control]="name" [boxControl]="true"></state-input>
                        </div>
                        <div *ngIf="name.dirty && name.invalid && (name.touched || name.untouched)"
                            style="color: #f44336; position: absolute; margin-top: 3px;">
                            <state-input [form]="form" [control]="name" errControl="required" errMessage="ບໍ່ໃຫ້ວ່າງ">
                            </state-input>
                            <state-input [form]="form" [control]="name" errControl="stringFailed"
                                errMessage="ປ້ອນເປັນຕົວອັກສອນ"></state-input>
                        </div>
                    </div>
                    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg"
                        style="font-weight: bold;">netContent</label>
                    <div class="col-sm-3">
                        <div class="p-inputgroup" style="position: relative; height: 100%;">
                            <input type="text" pInputText placeholder="netContent"
                                [ngStyle]="{'padding-right': 'calc(0.5em + 0.5em)'}" formControlName="netContent" />
                            <state-input [form]="form" [control]="netContent" [boxControl]="true"></state-input>
                        </div>
                        <div *ngIf="netContent.dirty && netContent.invalid && (netContent.touched || netContent.untouched)"
                            style="color: #f44336; position: absolute; margin-top: 3px;">
                            <state-input [form]="form" [control]="netContent" errControl="required"
                                errMessage="ບໍ່ໃຫ້ວ່າງ">
                            </state-input>
                            <state-input [form]="form" [control]="netContent" errControl="stringFailed"
                                errMessage="ປ້ອນເປັນຕົວເລກ"></state-input>
                        </div>

                    </div>
                    <div style="width: 100%; position: absolute; bottom: 0; display: flex; justify-content: center;">

                        <button pButton pRipple type="button" label="ຢືນຢັນ" class="p-button-info" style="width: 8em;"
                            type="submit"></button>
                    </div>
                </div>
            </form>

        </div>
    </ng-template>
</pmodal-crud>

<p-confirmDialog header="ຍືນຍັນ" icon="pi pi-exclamation-triangle" #cd>
    <ng-template pTemplate="footer">
        <button type="button" pButton label="Yes" (click)="cd.accept()"></button>
        <button type="button" pButton label="No" (click)="cd.reject()"></button>
    </ng-template>
</p-confirmDialog>