table tr th, td {
    font-family: Boon Baan;
    font-size: 1em;
}

img {
    image-rendering: pixelated;
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

@media only print {
    img {
        image-resolution: 300dpi !important;
    }
}

#bill-getMoney {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}